
.box{
    height:600px;
    width:1200px;
    background-color:white
}
.text{
    text-align: center;
}
.txt{
    text-align:center
}
.parent{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.card{
    height:400px;
    width:300px;
    background-color:rgb(225, 225, 234);
    border-radius: 35px;
   font-size: large;
}
.card2{
    height:450px;
    width:350px;
    background-color:rgb(53, 53, 236);
    color: aliceblue;
    border-radius: 35px;
    font-size:larger;
}